body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling on the main body */
}

.main-top {
    height: 10%;
    background-color: #faefe4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bottom {
    height: 90%;
    display: flex;
}

.reservoir {
    flex: 0 0 20%;
    background-color: #e2fbfd;
    padding: 10px;
}

.plant-graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.plants {
    display: flex;
    background-color: #e5f4cb;
    flex-direction: row;
    height: 50%; /* Occupy 50% of main-bottom */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks within child elements */
}

.plant-section {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 0 0 calc(25% - 20px); /* Each plant section takes up 25% of the container width */
}

.plant-gif {
    max-width: 100%;
    max-height: 100px; /* Set a maximum height for the GIFs */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.row {
    border: 1px solid black;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
}

.row1 {
    background-color: lightgreen;
}

.row2 {
    background-color: lightblue;
}

.row3,
.row4 {
    background-color: lightcoral;
}

.graph-left {
    background-color: #fffbf8;
    border: 1px solid black;
    margin-right: 5px;
    height: 50%; /* Equal height to plants */
}
