body, html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  display: fixed;
  overflow: hidden; /* Prevents scrolling */
}

.top {
  height: 10%;
  margin-top: 20px; /* Adjust this value as needed */
  padding: 0px 20px 20px 20px; /* top right bottom left */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
}

.heading{
  height: 100%;
  background-color: #faefe4;
  border-radius: 30px; /* Adjust the value as needed */
  font-size: 7vw; /* Relative to viewport width */ /* Change this value as needed */
  text-align: center;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0px 20px 0px 20px; /* top right bottom left */

}

.bottom {
  height: 90%;
  display: flex;  
  padding: 0px 10px 20px 20px; /* top right bottom left */
}

.left {
  flex: 0 0 20%;
  text-align: center;
  background-color: #e2fbfd;
  border-radius: 20px; /* Adjust the value as needed */
  padding: 20px; /* Adjust the value as needed */
  padding: 0px 10px 0px 10px; /* top right bottom left */
  font-size: 10vw
  
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 20px; /* top right bottom left */
}

.right-top {
  display: flex;
  flex-direction: row;
  height: 50%; /* Equal height to right-bottom */
  border-radius: 10px; /* Adjust the value as needed */
  background-color: #f1eeee;
  padding: 20px 20px 20px 20px; /* top right bottom left */
}


.right-top-section {
  flex: 1;
  text-align: center;
  background-color: #e5f4cb;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px; /* Adjust the value as needed */
  padding: 20px 20px 20px 20px; /* top right bottom left */
  
}

.right-bottom {
  display: flex;
  flex-direction: row;
  height: 50%; /* Equal height to right-top */
  border-radius: 10px; /* Adjust the value as needed */
  padding: 20px 20px 20px 10px; /* top right bottom left *//
}

.right-bottom-left {
  text-align: center;
  flex: 5; /* Takes up 80% of the width */
  background-color: #f1eeee;
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 20px; /* Adjust the value as needed */
  padding: 10px; /* Adjust the value as needed */
}

.right-bottom-right {
  flex: 5; /* Takes up 20% of the width */
  text-align: center;
  background-color: #f1eeee;
  border: 1px solid black;
  margin-left: 5px;
  border-radius: 20px; /* Adjust the value as needed */
  padding: 10px; /* Adjust the value as needed */
}

.weekly-graph-section {
  height: 100%;
  text-align: center;
  background-color: lightpink;
  border: 1px solid black;
  margin-left: 5px;
  border-radius: 20px; /* Adjust the value as needed */
  padding: 10px; /* Adjust the value as needed */
}

.horly-graph-section{
  height: 100%;
  text-align: center;
  background-color: lightpink;
  border: 1px solid black;
  margin-left: 5px;
  border-radius: 20px; /* Adjust the value as needed */
  padding: 10px; /* Adjust the value as needed */
}

