body, html {
  height: 100%;
  margin: 0;
}

.main-top {
  height: 10%;
  background-color: lightblue;
}

.main-bottom {
  height: 90%;
  display: flex;
}

.reservoir {
  flex: 0 0 20%;
  background-color: lightcoral;
}

.plant-graph {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plants{
  display: flex;
  flex-direction: row;
  height: 50%; /* Equal height to right-bottom */
}

.plant {
  height: 100%;
  object-fit: contain;
}

.aloe-section {
  flex: 1;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  margin: 5px;
}

.basil-section {
  flex: 1;
  background-color: lightcyan;
  border: 1px solid black;
  margin: 5px;
}

.beginoa-section {
  flex: 1;
  background-color: lightgray;
  border: 1px solid black;
  margin: 5px;
}

.row {
  border: 1px solid black;
}

.row1 {
  height: 15%;
  background-color: lightgreen;
}

.row2 {
  height: 55%;
  background-color: lightblue;
}

.row3 {
  height: 15%;
  background-color: lightcoral;
}

.row4 {
  height: 15%;
  background-color: lightpink;
}

.graph {
  display: flex;
  flex-direction: row;
  height: 50%; /* Equal height to right-top */
}

.graph-left {
  flex: 8; /* Takes up 80% of the width */
  background-color: lightgreen;
  border: 1px solid black;
  margin-right: 5px;
}

.graph-right {
  flex: 2; /* Takes up 20% of the width */
  background-color: lightpink;
  border: 1px solid black;
  margin-left: 5px;
}
